body {
    background-color: orange;
}

.site-header {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background: rosybrown;
}

.site-header .site-title {
    color: black;
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 15px;
}

.site-header .site-navigation {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.site-header .site-navigation li {
    list-style: none;
    top: 20px;
    right: 16px;
    display: inline;
    padding: 20px;
    font-size: 20px;
}

.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #D0DAEE;
}